@charset "utf-8";

.full_width_tram{
	width: 100%;
	float: left;
}

.med_width_tram{
	width: 70%;
}

.bojet_center_tram{
	margin: auto;
}

.contend{
	width: 100%;
	height: 150px;
	border: 5px solid;
	border-color: #476949;
	margin-top: 10px;
	overflow: hidden;
	border-radius: 0px 15px 0px 15px;
	background-color: #fff;
	-webkit-transition: border-color 1s;
	transition: border-color 1s;
}


.fix_left{
	position: relative;
	float:left;
	height: 100%;
	width: 30%;
	background-color: #476949;
	-webkit-transition: background-color 1s;
	transition: background-color 1s;
	overflow: hidden;
	z-index: 1;
}

.contend:hover{
	border-color: /*#0e4800 #a55100#7bb661*/ #84AB14;
}

.contend:hover .fix_left{
	background-color: /*#0e4800*/#84AB14;
}

.fix_left:hover .title_two{
	top: 0px;
	}
.fix_left:hover .title_one{
	top: -150px;
	}

.title_one{
	position:absolute;
	width: 100%;
	-webkit-transition: top 1s;
	transition: top 1s;
	top: 0px;
	margin: auto;
}

.title_two{
	position:absolute;
	width: 100%;
	top: 250px;
	-webkit-transition: top 1s;
	transition: top 1s;
	margin: auto;
	}
	
.title_two p{
	font-size: 0.5em;}

.fix_left p{
	color: #d3d9d3;
	font-size:20px;
	text-align: center;
	padding: 0.5em;
}

.fix_rigth{
	float: left;
	height: 100%;
	width:70%;
}

@media screen and (max-width: 1060px){
	.med_width_tram{
		width: 90%;
	}
}

@media screen and (max-width: 835px){
	.fix_left{
		width: 100%;
		height: 30%;
		}
	.fix_rigth{
		width: 100%;}
	
	.contend{
		height: 300px;}	
}

@media screen and (max-width: 500px){
	.med_width_tram{
		margin-left: 15px;
		width: 90%;
	}
	
	.contend{
		height: 420px;
	}
}

@media screen and (max-width: 400px){
	.med_width_tram{
		margin-left: 10px;
	}
}