@charset "utf-8";

#downl{
	display: grid;


}
.cajon{
	position: relative;
	border: 1px solid black;
	float: left;
	width: 150px;
	height: 100px;
	margin: 15px;
	text-align: center;
	color: black;
	font-weight: 600;
}

.med_width_dow{
	width: 75%;
	justify-content: center;

}

.obj_center_dow{
	margin: auto;
}

.boxin{
	overflow: hidden;
	background-color: #00909e;
	color: white;
	float: left;
	border-radius: 10px;
	border: 1px #607d8b;
	margin: 5px;
	padding: 20px;
	text-align: center;
	font-weight: 300;

}

.boxin:hover {
	color: #cffdf8;
}
